<html>
  <body class= bg-light>

  <%= render "jumbotron" %>
  



  <div class="container pt-5 pb-4 fw-bold">
    <h3 class="fw-bold display-5"> Les prochains évènements </h3>
  </div>


    <%= render "indexcard" %>
    <%= render "citycard" %>

  </body>
    
</html>
