<h1>Votre paiement est maintenant confirmé !</h1>

<h2>Merci <%= @current_user.first_name %> pour votre achat de <%= @amount %> € !</h2>

<h3>Un email vous a été envoyé à <%= @current_user.email %> avec le récapitulatif de votre commande. A bientôt sur notre site !</h3>