<body>

<h1>Voici les participants à l'évènement</h1>

<section class="container">
  

<%= render "attendees" %>

<br/>

<%= link_to "Modifier l'évènement", edit_event_path(@event.id), class:"btn btn-warning" %>
<%= link_to "Supprimer l'évènement", event_path(@event.id), data: {confirm: "Êtes-vous sûr de vouloir supprimer cet évènement ?"}, class:"btn btn-danger", method: "delete"%>
</section>
</body>